<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>World Beauty | Relatório de idade</title>
    </head>
    <body>
        <div class="container-sm">
            <header>
               <header-component th:href="@{/}" header-text="Relatório de idade" />
            </header>
            <main>
                <center>
                    <div id="grafico" style="width: 80vw;height: 60vh;"></div>
                </center>
            </main>
            <footer>
                <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script th:src="@{/components/header.js}"></script>
                <script th:inline="javascript">
                    google.charts.load('current', {packages: ['corechart', 'bar']});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        /*<![CDATA[*/
                            let mediaMasculino = parseFloat(/*[[${mediaMasculino}]]*/)
                            let mediaFeminino = parseFloat(/*[[${mediaFeminino}]]*/)
                            let mediaTotal = parseFloat(/*[[${mediaTotal}]]*/)
                        /*]]>*/

                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Gênero');
                        data.addColumn('number', 'Idade');
                        data.addRows([
                          ['Masculino', mediaMasculino],
                          ['Feminino', mediaFeminino],
                          ['Total', mediaTotal],
                        ]);

                        var options = {'title':'Média de clientes por gênero'};

                        var chart = new google.visualization.ColumnChart(document.getElementById('grafico'));
                        chart.draw(data, options);
                    }
                </script>
            </footer>
        </div>
    </body>
</html>